<h2>Edit HackerNews subscription</h2>

<%= render "form.html", changeset: @changeset,
                        action: hn_subscription_path(@conn, :update, @hn_subscription) %>

<%= link "Back", to: page_path(@conn, :profile) %>
